parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Dashboard\\Home\\HomeRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/dashboard/home/HomeRouter.php

		-
			message: '#^Call to an undefined method Dashboard\\Manual\\ManualRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/dashboard/manual/ManualRouter.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/dashboard/shop/OrdersController.php

		-
			message: '#^Variable \$payload might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/dashboard/shop/OrdersController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: application/dashboard/shop/OrdersController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/dashboard/shop/OrdersController.php

		-
			message: '#^Variable \$files might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/dashboard/shop/ProductsController.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/dashboard/shop/ProductsController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: application/dashboard/shop/ProductsController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/dashboard/shop/ProductsController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/dashboard/shop/ProductsController.php

		-
			message: '#^Method codesaur\\DataObject\\Model\:\:insert\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: application/dashboard/shop/ReviewsModel.php

		-
			message: '#^Call to an undefined method Dashboard\\Shop\\ShopRouter\:\:DELETE\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/dashboard/shop/ShopRouter.php

		-
			message: '#^Call to an undefined method Dashboard\\Shop\\ShopRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: application/dashboard/shop/ShopRouter.php

		-
			message: '#^Call to an undefined method Dashboard\\Shop\\ShopRouter\:\:GET_POST\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/dashboard/shop/ShopRouter.php

		-
			message: '#^Call to an undefined method Dashboard\\Shop\\ShopRouter\:\:GET_PUT\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/dashboard/shop/ShopRouter.php

		-
			message: '#^Call to an undefined method Dashboard\\Shop\\ShopRouter\:\:PATCH\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/dashboard/shop/ShopRouter.php

		-
			message: '#^Class Psr\\Http\\Message\\ResponseFactoryInterface not found\.$#'
			identifier: class.notFound
			count: 1
			path: application/raptor/authentication/JWTAuthMiddleware.php

		-
			message: '#^Result of method Raptor\\Authentication\\LoginController\:\:forgotPassword\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: application/raptor/authentication/LoginController.php

		-
			message: '#^Result of method Raptor\\Controller\:\:redirectTo\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: application/raptor/authentication/LoginController.php

		-
			message: '#^Variable \$e might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: application/raptor/authentication/LoginController.php

		-
			message: '#^Variable \$err might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/authentication/LoginController.php

		-
			message: '#^Variable \$forgot might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/authentication/LoginController.php

		-
			message: '#^Variable \$user might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/authentication/LoginController.php

		-
			message: '#^Variable \$vars might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/authentication/LoginController.php

		-
			message: '#^Call to an undefined method Raptor\\Authentication\\LoginRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/raptor/authentication/LoginRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Authentication\\LoginRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/raptor/authentication/LoginRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Content\\ContentsRouter\:\:DELETE\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: application/raptor/content/ContentsRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Content\\ContentsRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 20
			path: application/raptor/content/ContentsRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Content\\ContentsRouter\:\:GET_POST\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: application/raptor/content/ContentsRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Content\\ContentsRouter\:\:GET_PUT\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: application/raptor/content/ContentsRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Content\\ContentsRouter\:\:PATCH\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: application/raptor/content/ContentsRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Content\\ContentsRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: application/raptor/content/ContentsRouter.php

		-
			message: '#^Variable \$err might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: application/raptor/content/file/FilesController.php

		-
			message: '#^Variable \$error might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/file/FilesController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/file/FilesController.php

		-
			message: '#^Variable \$uploaded might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/file/FilesController.php

		-
			message: '#^Method codesaur\\DataObject\\Model\:\:insert\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: application/raptor/content/messages/MessagesModel.php

		-
			message: '#^Method codesaur\\DataObject\\Model\:\:insert\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: application/raptor/content/news/CommentsModel.php

		-
			message: '#^Variable \$files might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/content/news/NewsController.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/content/news/NewsController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: application/raptor/content/news/NewsController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/news/NewsController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/news/NewsController.php

		-
			message: '#^Variable \$files might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/content/page/PagesController.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/content/page/PagesController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: application/raptor/content/page/PagesController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/page/PagesController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/page/PagesController.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/reference/ReferencesController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: application/raptor/content/reference/ReferencesController.php

		-
			message: '#^Variable \$table might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/reference/ReferencesController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/reference/ReferencesController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/content/reference/ReferencesController.php

		-
			message: '#^Variable \$updates on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: application/raptor/content/reference/ReferencesController.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/development/DevRequestController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/development/DevRequestController.php

		-
			message: '#^Call to an undefined method Raptor\\Development\\DevelopmentRouter\:\:DELETE\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/development/DevelopmentRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Development\\DevelopmentRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/raptor/development/DevelopmentRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Development\\DevelopmentRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/development/DevelopmentRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Localization\\LocalizationRouter\:\:DELETE\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/localization/LocalizationRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Localization\\LocalizationRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: application/raptor/localization/LocalizationRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Localization\\LocalizationRouter\:\:GET_POST\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/localization/LocalizationRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Localization\\LocalizationRouter\:\:GET_PUT\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/localization/LocalizationRouter.php

		-
			message: '#^Variable \$copied might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/localization/language/LanguageController.php

		-
			message: '#^Variable \$mother might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/localization/language/LanguageController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: application/raptor/localization/language/LanguageController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/localization/language/LanguageController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/localization/language/LanguageController.php

		-
			message: '#^Variable \$updates on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: application/raptor/localization/language/LanguageController.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/localization/text/TextController.php

		-
			message: '#^Variable \$id on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: application/raptor/localization/text/TextController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: application/raptor/localization/text/TextController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/localization/text/TextController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/localization/text/TextController.php

		-
			message: '#^Call to an undefined method Raptor\\Log\\LogsRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: application/raptor/log/LogsRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Log\\LogsRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/log/LogsRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Migration\\MigrationRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: application/raptor/migration/MigrationRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Migration\\MigrationRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: application/raptor/migration/MigrationRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Organization\\OrganizationController\:\:getPublicPath\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/organization/OrganizationController.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/organization/OrganizationController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: application/raptor/organization/OrganizationController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/organization/OrganizationController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/organization/OrganizationController.php

		-
			message: '#^Call to an undefined method Raptor\\Organization\\OrganizationRouter\:\:DELETE\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/organization/OrganizationRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Organization\\OrganizationRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/raptor/organization/OrganizationRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Organization\\OrganizationRouter\:\:GET_POST\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/organization/OrganizationRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Organization\\OrganizationRouter\:\:GET_PUT\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/organization/OrganizationRouter.php

		-
			message: '#^Result of method Raptor\\Controller\:\:respondJSON\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 2
			path: application/raptor/rbac/RBACController.php

		-
			message: '#^Variable \$alias might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/rbac/RBACController.php

		-
			message: '#^Variable \$method might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/rbac/RBACController.php

		-
			message: '#^Variable \$payload might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/rbac/RBACController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 7
			path: application/raptor/rbac/RBACController.php

		-
			message: '#^Call to an undefined method Raptor\\RBAC\\RBACRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/rbac/RBACRouter.php

		-
			message: '#^Call to an undefined method Raptor\\RBAC\\RBACRouter\:\:GET_POST\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/rbac/RBACRouter.php

		-
			message: '#^Call to an undefined method Raptor\\RBAC\\RBACRouter\:\:POST_DELETE\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/rbac/RBACRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Template\\BadgeRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/template/BadgeRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Template\\BadgeRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/template/BadgeRouter.php

		-
			message: '#^Variable \$aliases might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/template/TemplateController.php

		-
			message: '#^Variable \$menu might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/template/TemplateController.php

		-
			message: '#^Variable \$permissions might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/template/TemplateController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/template/TemplateController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/template/TemplateController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/template/TemplateController.php

		-
			message: '#^Call to an undefined method Raptor\\Template\\TemplateRouter\:\:DELETE\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/template/TemplateRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Template\\TemplateRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/template/TemplateRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Template\\TemplateRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/template/TemplateRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Template\\TemplateRouter\:\:PUT\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/template/TemplateRouter.php

		-
			message: '#^Variable \$count might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/trash/TrashController.php

		-
			message: '#^Variable \$id might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/trash/TrashController.php

		-
			message: '#^Call to an undefined method Raptor\\Trash\\TrashRouter\:\:DELETE\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: application/raptor/trash/TrashRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Trash\\TrashRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: application/raptor/trash/TrashRouter.php

		-
			message: '#^Call to an undefined method Raptor\\Trash\\TrashRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/trash/TrashRouter.php

		-
			message: '#^Call to an undefined method Raptor\\User\\UsersController\:\:getPublicPath\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/user/UsersController.php

		-
			message: '#^Result of method Raptor\\Controller\:\:respondJSON\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$current_organizations might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$current_role might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$organizations might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$record might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$roles might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$rows might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$signup might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$updated might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/user/UsersController.php

		-
			message: '#^Variable \$updates might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: application/raptor/user/UsersController.php

		-
			message: '#^Call to an undefined method Raptor\\User\\UsersRouter\:\:DELETE\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/raptor/user/UsersRouter.php

		-
			message: '#^Call to an undefined method Raptor\\User\\UsersRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/raptor/user/UsersRouter.php

		-
			message: '#^Call to an undefined method Raptor\\User\\UsersRouter\:\:GET_POST\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/raptor/user/UsersRouter.php

		-
			message: '#^Call to an undefined method Raptor\\User\\UsersRouter\:\:GET_PUT\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/user/UsersRouter.php

		-
			message: '#^Call to an undefined method Raptor\\User\\UsersRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: application/raptor/user/UsersRouter.php

		-
			message: '#^Call to an undefined method Web\\WebRouter\:\:GET\(\)\.$#'
			identifier: method.notFound
			count: 19
			path: application/web/WebRouter.php

		-
			message: '#^Call to an undefined method Web\\WebRouter\:\:POST\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: application/web/WebRouter.php

		-
			message: '#^Result of method Web\\Content\\NewsController\:\:news\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: application/web/content/NewsController.php

		-
			message: '#^Result of method Web\\Content\\PageController\:\:page\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: application/web/content/PageController.php

		-
			message: '#^Result of method Web\\Shop\\ShopController\:\:product\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: application/web/shop/ShopController.php
