<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Tab title (алдааны нэр + код) -->
        <title>{{ title }} {{ code }}</title>
    </head>

    <body>
        <!-- Main container -->
        <main style="width:50rem;margin-top:.75rem;margin-bottom:.75rem;">
            <!-- Error Title -->
            <h1>{{ title }} {{ code }}!</h1>

            <!-- Error Message Content -->
            <div>{{ message }}</div>
        </main>
    </body>
</html>
