<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script defer src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
<script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div class="bd-callout bd-callout-danger bg-light alert alert-dismissible fade show shadow-sm">
    <i class="bi bi-flag pr-2" style="padding-right:8px;"></i> {{ 'languages-note'|text }}
    <button class="btn-close" type="button" style="font-size:0.7rem" data-bs-dismiss="alert" aria-label="{{ 'close'|text|e }}"></button>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4 mt-3">
    <h3 class="text-danger" style="padding-right:10px"><i class="bi bi-flag-fill"></i> {{ 'languages'|text }}</h3>
    <div class="btn-group">
        {% if user.can('system_localization_insert') %}
        <a class="btn btn-outline-success text-uppercase shadow-sm" href="{{ 'language-insert'|link }}" data-bs-target="#dashboard-modal" data-bs-toggle="modal">
            <i class="bi bi-plus-circle-dotted"></i> {{ 'new'|text }}
        </a>
        {% endif %}
    </div>
</div>
<table class="table table-striped table-hover" id="languages">
    <thead>
        <tr>
            <th scope="col">{{ 'code'|text }}</th>
            <th scope="col">{{ 'name'|text }}</th>
            <th scope="col">{{ 'flag'|text }}</th>
            <th scope="col">{{ 'date-created'|text }}</th>
            <th scope="col" style="width:160px">{{ 'action'|text }}</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
<script type="text/javascript">
let deleteAskHtml = {% if localization.code == 'mn' %}'<p class="text-danger mb-3">Та ({0}) хэлийг устгахдаа итгэлтэй байна уу?</p>'{% else %}'<p class="text-danger mb-3">Are you sure to delete the language ({0})?</p>'{% endif %};
document.addEventListener('DOMContentLoaded', function () {
    let languagesTable = document.querySelector('table#languages');
    languagesTable.onChildClick('.ajax-modal', function(a, e) {
        e.preventDefault();
        
        return AjaxModal.ajaxContent(a);
    });    
    languagesTable.onChildClick('.delete-language', function(a, e) {
        e.preventDefault();
        
        let name = a.parentNode.parentNode.children[1].innerHTML;
        let question = deleteAskHtml.format(name.replace(/<\/?[^>]+(>|$)/g, ''));

        let src = '';
        let flag = a.parentNode.parentNode.children[2].querySelector('img');
        if (flag) {
            src = flag.src;
        } else {
            question = '<i class="bi bi-flag text-danger mb-4" style="font-size:3rem"></i><p>' + question + '<p/>';
        }
        Swal.fire({
            imageUrl: src,
            imageHeight: 11,
            html: question,
            showCancelButton: true,
            cancelButtonText: '{{ 'cancel'|text|e }}',
            confirmButtonText: '<i class="bi bi-trash"></i> {{ 'delete'|text|e }}',
            confirmButtonColor: '#df4759',
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: true,
            preConfirm: () => {
                return fetch(
                    '{{ 'language-delete'|link }}',
                    {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({id: a.getAttribute('href'), name})
                    }
                ).then(res => {
                    return res.json();
                }).then(response => {
                    if (response.status !== 'success') {
                        throw new Error(response.message ?? 'Invalid response!');
                    }

                    Swal.close();

                    NotifyTop('success', "{{ 'success'|text|e }}", response.message ?? '');

                    let row = a.parentNode.parentNode;
                    if (row && row.parentNode !== null) {
                        row.parentNode.removeChild(row);
                    }
                })
                .catch(error => {
                    Swal.showValidationMessage(error.message);
                });
            }
        });
    });
    
    $(languagesTable).DataTable({
        responsive: true,
        bStateSave: true,
        pagingType: 'full_numbers',
        pageLength: 30,
        order: [[0, 'asc']],
        ajax: {
            method: 'GET',
            url: "{{ 'languages-datatable'|link }}"
        },
        lengthMenu: [[5, 10, 30, -1], [5, 10, 30, "{{ 'all'|text|e }}"]]
        {% if localization.code == 'mn' %}, language: {url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/mn.json'}{% endif %}
    });
});
</script>
