{% set categories = {
  'general': { 'mn': 'Ерөнхий' },
  'photo': { 'mn': 'Фото' },
  'video': { 'mn': 'Видео' },
  'announcement': { 'mn': 'Зар мэдээлэл' },
  'special': { 'mn': 'Тусгай' }
} %}
{% set types = {
  'common': { 'mn': 'Нийтлэг' },
  'featured': { 'mn': 'Онцолсон' },
  'hot': { 'mn': 'Халуун' },
  'fun': { 'mn': 'Хөгжилтэй' }
} %}

<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@latest/minified/themes/default.min.css">
<script defer src="https://cdn.jsdelivr.net/combine/npm/sceditor@latest/minified/sceditor.min.js,npm/sceditor@latest/minified/formats/xhtml.min.js,npm/sceditor@latest/minified/icons/monocons.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
<script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

<div class="card shadow border-info mt-2 mb-4">
    <div class="card-header bg-light">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
            <h6 class="text-info text-uppercase pt-2"><i class="bi bi-eye"></i> {{ record['title'] }}</h6>
            <div class="button-group">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row mt-1">
            <div class="col-4">
                <label class="form-label">{{ 'language'|text }}</label>
                <span class="form-control" readonly><img src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ record['code'] }}.png"> {{ (localization.language[record['code']] ?? record['code'])|e }}</span>
            </div>
            <div class="col-4">
                <label class="form-label">{{ 'category'|text }}</label>
                <input class="form-control" name="category" readonly type="text" value="{{ (categories[record['category']][localization.code] ?? record['category'])|e }}" maxlength="32">
            </div>
            <div class="col-4">
                <label class="form-label">{{ 'type'|text }}</label>
                <input class="form-control" name="type" readonly value="{{ (types[record['type']][localization.code] ?? record['type'])|e }}" placeholder="" type="text" autocomplete="off">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">

            </div>
            <div class="col-4">
                <label class="form-label">{{ 'date'|text }}</label>
                <input class="form-control" name="publish_date" value="{{ record['publish_date'] }}" readonly placeholder="" type="datetime-local" autocomplete="off">
            </div>
            <div class="col-4">
                <label class="form-label">{{ 'publish'|text }}</label>
                <div class="form-check form-switch">
                    <input class="form-check-input"{{ record['published'] == 1 ? ' checked' : '' }} disabled name="published" type="checkbox" role="switch" aria-describedby="IsVisibleHelp">
                    <div id="IsVisibleHelp" class="form-text">{{ localization.code == 'mn' ? 'бичлэг сайт дээр харагдах эсэх' : 'visiblity of content' }}</div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-content mt-4">
            <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-content">{{ 'content'|text }} <i class="bi bi-body-text"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-files">{{ 'files'|text }} <i class="bi bi-paperclip"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-meta">{{ 'meta'|text }} <i class="bi bi-share"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-comment">{{ 'comment'|text }} <i class="bi bi-chat-left-text"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-link">{{ 'link'|text }} <i class="bi bi-link-45deg"></i></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-content">
                <div class="form-group bg-light rounded-3">
                    <label class="form-label">{{ 'title'|text }}</label>
                    <div id="TitleContentHelp" class="form-text">{{ 'title-note'|text }}</div>
                    <input class="form-control" name="title" readonly value="{{ record['title']|e }}" maxlength="255" placeholder="" type="text" autocomplete="off" aria-describedby="TitleContentHelp">
                </div>
                <div class="form-group bg-light mt-4 rounded-3">
                    <label class="form-label">{{ 'short'|text }}</label>
                    <div id="ShortContentHelp" class="form-text">{{ 'short-note'|text }}</div>
                    <textarea class="form-control" name="short" readonly aria-describedby="ShortContentHelp">{{ record['short'] }}</textarea>
                </div>
                <div class="form-group bg-light mt-4 rounded-3">
                    <label class="form-label">{{ 'full'|text }}</label>
                    <div id="FullContentHelp" class="form-text">{{ 'full-note'|text }}</div>
                    <textarea class="form-control" id="full" name="full" readonly rows="10" aria-describedby="FullContentHelp">{{ record['full'] }}</textarea>
                </div>
            </div>
            <div class="tab-pane" id="tab-files">
                <div class="col-12 mt-4">
                    <table class="table table-striped table-hover" id="news_files">
                        <thead>
                            <tr>
                                <th>{{ 'file'|text }}</th>
                                <th>{{ 'properties'|text }}</th>
                                <th>{{ 'description'|text }}</th>
                                <th>{{ 'category'|text }}</th>
                                <th>{{ 'keyword'|text }}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="tab-meta">
                <div class="alert alert-secondary shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                    {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                    {% else %}
                    Sorry, this feature isn’t available right now
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="tab-comment">
                <div class="alert alert-primary shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                    {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                    {% else %}
                    Sorry, this feature isn’t available right now
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="tab-link">
                <div class="alert alert-dark shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                    {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                    {% else %}
                    Sorry, this feature isn’t available right now
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row pt-1 pb-1">
            <div class="col-12 d-grid">
                <a class="btn btn-lg btn-block btn-secondary shadow-sm" href="{{ 'news'|link }}">
                    <i class="bi bi-arrow-left"></i> {{ 'list'|text }}
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function copy(elem) {
        var text = document.getElementById(elem);
        if (document.body.createTextRange) {
            var range = document.body.createTextRange();
            range.moveToElementText(text);
            range.select();
        } else if (window.getSelection) {
            var selection = window.getSelection();
            var range = document.createRange();
            range.selectNodeContents(text);
            selection.removeAllRanges();
            selection.addRange(range);
        }
        document.execCommand('copy');
    }

    function basename(url) {
        return url.split(/.*[\/|\\]/)[1];
    }

    function formatSizeUnits(bytes)
    {
        const thresh = 1024;
        if (Math.abs(bytes) < thresh) {
            return bytes + ' bytes';
        }

        const units = ['KB', 'MB', 'GB', 'TB'];
        let u = -1;
        const r = 10 ** 1;
        do {
            bytes /= thresh;
            ++u;
        } while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1);

        return bytes.toFixed(1) + ' ' + units[u];
    }

    Element.prototype.addFileRow = function (record) {
        let fileName = basename(record['path']);
        let fileLinkAttr = ' target="__blank" onclick="return confirm(\'Are you sure you want to open this file [' + fileName + ']?\')"';
        let fileAction = ' <a class="btn btn-sm btn-dark ajax-modal" data-bs-target="#dashboard-modal" data-bs-toggle="modal" href="{{ 'files-modal'|link({'table':'indo_news_files'}) }}?modal=' + record['type'] + '-tag&' + 'id=' + record['id'] + '"><i class="bi bi-code"></i></a>';
        let fileIcon;
        switch (record['type']) {
            case 'image':
                {
                    fileIcon = '<img src="' + record['path'] + '" style="max-height:120px;height:100%">';
                    if (record['mime_content_type'] !== 'image/gif')
                        fileLinkAttr = ' file-data-fancybox data-caption="' + (record['description'] ?? fileName) + '"';
                }
                break;
            case 'video':
                fileIcon = '<video style="max-height:240px;height:100%;max-width:320px;width:100%" controls><source src="' + record['path'] + '"></video>';
                break;
            case 'audio':
                fileIcon = '<audio controls><source src="' + record['path'] + '" type="' + record['mime_content_type'] + '"></audio>';
                break;
            default:
                {
                    fileIcon = '<i class="bi bi-hdd"></i>';
                    fileAction = '';
                }
                break;
        }
        fileAction = '<a class="btn btn-sm btn-info ajax-modal" data-bs-target="#dashboard-modal" data-bs-toggle="modal" href="{{ 'files-modal'|link({'table':'indo_news_files'}) }}?modal=location&id=' + record['id'] + '"><i class="bi bi-link"></i></a>' + fileAction;
 
        let fileLink = '<a href="' + record['path'] + '"' + fileLinkAttr + '>' + fileIcon;
        let fileFigure = '<figure class="figure">' + fileLink;
        fileFigure += '<figcaption class="figure-caption text-primary">' + fileName + '</figcaption></a>';
        fileFigure += '<p>' + fileAction + '</p>';
        fileFigure += '</figure>';

        let row = document.createElement('tr');
        row.id = "file_" + record['id'];
        let cell1 = document.createElement('td');
        cell1.innerHTML = '<input name="files[]" value="' + record['id'] + '" type="hidden">' + fileFigure;
        row.appendChild(cell1);

        let cell2 = document.createElement('td');
        cell2.innerHTML = '<p style="max-width:180px;word-wrap:break-all"><u>' + record['mime_content_type'] + '</u></p>' + formatSizeUnits(record['size']);
        row.appendChild(cell2);

        let cell3 = document.createElement('td');
        cell3.innerHTML = record['description'];
        row.appendChild(cell3);

        let cell4 = document.createElement('td');
        cell4.innerHTML = record['category'];
        row.appendChild(cell4);

        let cell5 = document.createElement('td');
        cell5.innerHTML = record['keyword'];
        row.appendChild(cell5);

        this.querySelector('tbody')?.appendChild(row);
    };

    document.addEventListener('DOMContentLoaded', function () {

        let full = document.getElementById('full');
        sceditor.create(full, {
            format: 'xhtml',
            emoticonsEnabled: false,
            toolbarExclude: 'emoticon',
            icons: 'monocons',
            readOnly: true,
            width: '100%',
            height: '360px',
            style: 'https://cdn.jsdelivr.net/npm/sceditor@latest/minified/themes/content/default.min.css'
        });

        var filesTable = document.querySelector('#news_files');
        {% for file in files  %}
        filesTable.addFileRow(JSON.parse('{{ file|json_encode }}'));
        {% endfor %}
        Fancybox.bind('[file-data-fancybox]', {groupAll: true});        
    });
</script>
