<div class="card shadow border-info mt-2 mb-4">
    <div class="card-header bg-light">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
            <h6 class="text-info text-uppercase pt-2"><i class="bi bi-book-fill"></i> {{ 'view-record'|text }} (pages)</h6>
            <div class="button-group">
                <button class="btn btn-secondary shadow-sm text-uppercase" onclick="window.history.go(-1); return false;">
                    <i class="bi bi-arrow-left-circle"></i> {{ 'back'|text }}
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-floating">
                    <select class="form-select" name="parent_id" disabled>
                    {% if infos[record['parent_id']] is not null %}    
                        <option value="{{ id }}" selected>{{ (infos[record['parent_id']]['parent_titles'] ?? '')|e }}{{ infos[record['parent_id']]['title']|e }}</option>
                    {% else %}
                        <option value="0">- {{ localization.code == 'mn' ? 'Үндсэн меню' : 'Main menu' }} -</option>
                    {% endif %}
                    </select>
                    <label>{{ 'parent'|text }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-3">
                <label class="form-label">{{ 'date'|text }}</label>
                <input class="form-control" name="published_at" value="{{ record['published_at'] }}" readonly placeholder="" type="datetime-local" autocomplete="off">
            </div>
            <div class="col-3">
                <label class="form-label">{{ 'category'|text }}</label>
                <input class="form-control" name="category" readonly type="text" value="{{ record['category']|e }}" maxlength="32">
            </div>
            <div class="col-3">
                <label class="form-label">{{ 'type'|text }}</label>
                <input class="form-control" name="type" readonly type="text" value="{{ record['type']|e }}" maxlength="32">                
            </div>
            <div class="col-3">
                <label class="form-label">{{ 'position'|text }}</label>
                <input class="form-control" name="position" readonly value="{{ record['position'] }}" placeholder="" type="number" autocomplete="off">
                <div class="invalid-feedback">{{ 'field-is-required'|text }}</div>
            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-content mt-4">
        {% for code,title in localization.language %}
            <li class="nav-item">
                <a class="nav-link{% if loop.first %} active show{% endif %}" data-bs-toggle="tab" href="#tab-{{ code }}">{{ 'content'|text }} <img src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></a>
            </li>
        {% endfor %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-photo">{{ 'photo'|text }} <i class="bi bi-file-image"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-files">{{ 'files'|text }} <i class="bi bi-paperclip"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-meta">{{ 'meta'|text }} <i class="bi bi-share"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-comment">{{ 'comment'|text }} <i class="bi bi-chat-left-text"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-link">{{ 'link'|text }} <i class="bi bi-link-45deg"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-history">{{ 'history'|text }} <i class="bi bi-clock-history"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-version">{{ 'version'|text }} <i class="bi bi-sort-numeric-down"></i></a>
            </li>
        </ul>
        <div class="tab-content">
        {% for code,title in localization.language %}
            <div class="tab-pane{% if loop.first %} active show{% endif %}" id="tab-{{ code }}">
                <div class="form-group bg-light rounded-3">
                    <label class="form-label">{{ 'title'|text }} ({{ code }})</label>
                    <div id="TitleContentHelp" class="form-text">{{ 'title-note'|text }} [{{ title }}]</div>
                    <input class="form-control" name="title[{{ code }}]" readonly value="{{ record['content']['title'][code]|e }}" maxlength="255" placeholder="" type="text" autocomplete="off" aria-describedby="TitleContentHelp">
                    <div class="invalid-feedback">{{ 'field-is-required'|text }}</div>
                </div>
                <div class="form-group bg-light mt-4 rounded-3">
                    <label class="form-label">{{ 'short'|text }} ({{ code }})</label>
                    <div id="ShortContentHelp" class="form-text">{{ 'short-note'|text }} [{{ title }}]</div>
                    <textarea class="form-control" name="short[{{ code }}]" readonly aria-describedby="ShortContentHelp">{{ record['content']['short'][code] }}</textarea>
                </div>
                <div class="form-group bg-light mt-4 rounded-3">
                    <label class="form-label">{{ 'full'|text }} ({{ code }})</label>
                    <div id="FullContentHelp" class="form-text">{{ 'full-note'|text }} [{{ title }}]</div>
                    <textarea class="form-control" id="full_{{ code }}" readonly name="full[{{ code }}]" rows="10" aria-describedby="FullContentHelp">{{ record['content']['full'][code] }}</textarea>
                </div>
                <div class="mb-3 bg-light mt-4 rounded-3">
                    <label class="form-label">{{ 'visible'|text }}</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="is_visible[{{ code }}]" disabled {{ record['content']['is_visible'][code] == '1' ? 'checked ' : '' }}type="checkbox" role="switch" aria-describedby="IsVisibleHelp">
                        <div id="IsVisibleHelp" class="form-text">{{ localization.code == 'mn' ? 'бичлэг сайт дээр харагдах эсэх' : 'visiblity of content' }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="tab-pane" id="tab-photo">
                <div class="alert alert-danger shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                {% else %}
                    Sorry, this feature isn’t available right now
                {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="tab-files">
                <div class="alert alert-warning shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                {% else %}
                    Sorry, this feature isn’t available right now
                {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="tab-meta">
                <div class="alert alert-secondary shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                {% else %}
                    Sorry, this feature isn’t available right now
                {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="tab-comment">
                <div class="alert alert-primary shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                {% else %}
                    Sorry, this feature isn’t available right now
                {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="tab-link">
                <div class="alert alert-warning shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                {% else %}
                    Sorry, this feature isn’t available right now
                {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="tab-history">
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'date-created'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ record['created_at']|e }}" type="text">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'created-by'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ (accounts[record['created_by']] ?? record['created_by'])|e }}" type="text">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'date-modified'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ record['updated_at']|e }}" type="text">
                    </div>
                </div>
                <div class="row">
                    <label class="col-3 col-form-label text-end">{{ 'updated-by'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ (accounts[record['updated_by']] ?? record['updated_by'])|e }}" type="text">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-version">
                <div class="alert alert-info shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                {% else %}
                    Sorry, this feature isn’t available right now
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row pt-1 pb-1">
            <button class="btn btn-lg btn-block btn-secondary shadow-sm" onclick="window.history.go(-1); return false;"><i class="bi bi-arrow-left"></i> {{ 'back'|text }}</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@latest/minified/themes/default.min.css">
<script defer src="https://cdn.jsdelivr.net/combine/npm/sceditor@latest/minified/sceditor.min.js,npm/sceditor@latest/minified/formats/xhtml.min.js,npm/sceditor@latest/minified/icons/monocons.min.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    {% for code,title in localization.language %}
    var full_{{ code }} = document.getElementById('full_{{ code }}');
    sceditor.create(full_{{ code }}, {
        format: 'xhtml',
        emoticonsEnabled: false,
        toolbarExclude: 'indent,outdent,emoticon,bold,italic,underline,strike,subscript,superscript,left,center,right,justify,font,size,color,removeformat,cut,copy,paste,pastetext,bulletlist,orderedlist,table,code,quote,horizontalrule,image,email,link,unlink,emoticon,youtube,date,time,ltr,rtl,print,maximize,source',
        icons: 'monocons',
        width: '100%',
        height: '480px',
        readOnly: true,
        style: 'https://cdn.jsdelivr.net/npm/sceditor@latest/minified/themes/content/default.min.css'
    });
    {% endfor %}
});
</script>
