{% set categories = {
  'general': { 'mn': 'Ерөнхий' },
  'system': { 'mn': 'Систем' },
  'special': { 'mn': 'Тусгай' },
  'manual': { 'mn': 'Заавар' },
  'notification': { 'mn': 'Сонордуулга' },
  'email': { 'mn': 'Цахим захиа' }
} %}
<div class="card shadow border-success mt-2 mb-4">
    <div class="card-header bg-light">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
            <h6 class="text-success text-uppercase pt-2"><i class="bi bi-plus-circle-dotted"></i> {{ 'add-record'|text }} ({{ table }})</h6>
            <div class="button-group">
                <button class="submit-insert btn btn-success shadow-sm text-uppercase">
                    <i class="bi bi-check-lg"></i> {{ 'save'|text }}
                </button>
                <a class="btn btn-secondary shadow-sm text-uppercase" href="{{ 'references'|link }}">
                    <i class="bi bi-arrow-left"></i> {{ 'reference-tables'|text }}
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form class="needs-validation" id="reference_insert" action="{{ 'reference-insert'|link({'table': table}) }}" method="POST" enctype="multipart/form-data" novalidate>
            <div class="form-group row mt-3">
                <div class="col-lg-6">
                    <label class="form-label">{{ 'keyword'|text }}</label>
                    <input class="form-control" name="keyword" value="" maxlength="128" placeholder="" required type="text" autocomplete="off">
                    <div class="invalid-feedback">{{ 'field-is-required'|text }}</div>
                </div>
                <div class="col-lg-6">
                    <label class="form-label">{{ 'category'|text }}</label>
                    <div class="input-group mb-3">
                        <input class="form-control" name="category" required type="text" value="{{ categories|keys|first }}" maxlength="32">
                        <div class="invalid-feedback">{{ 'field-is-required'|text }}</div>
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu dropdown-menu-end" id="category_list">
                        {% for value,name in categories %}
                            <li class="dropdown-item" value="{{ value }}">{{ name[localization.code] ?? value|capitalize }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs nav-tabs-content mt-4">
                {% for code,title in localization.language %}
                <li class="nav-item">
                    <a class="nav-link{% if loop.first %} active show{% endif %}" data-bs-toggle="tab" href="#tab-{{ code }}">{{ 'content'|text }} <img src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for code,title in localization.language %}
                <div class="tab-pane{% if loop.first %} active show{% endif %}" id="tab-{{ code }}">
                    <div class="form-group bg-light rounded-3">
                        <label class="form-label">{{ 'title'|text }} ({{ code }})</label>
                        <div id="TitleContentHelp" class="form-text">{{ 'title-note'|text }} [{{ title }}]</div>
                        <input class="form-control" name="title[{{ code }}]" required value="" maxlength="255" placeholder="" type="text" autocomplete="off" aria-describedby="TitleContentHelp">
                        <div class="invalid-feedback">{{ 'field-is-required'|text }}</div>
                    </div>
                    <div class="form-group bg-light mt-4 rounded-3">
                        <label class="form-label">{{ 'short'|text }} ({{ code }})</label>
                        <div id="ShortContentHelp" class="form-text">{{ 'short-note'|text }} [{{ title }}]</div>
                        <textarea class="form-control" name="short[{{ code }}]" aria-describedby="ShortContentHelp"></textarea>
                    </div>
                    <div class="form-group bg-light mt-4 rounded-3">
                        <label class="form-label">{{ 'full'|text }} ({{ code }})</label>
                        <div id="FullContentHelp" class="form-text">{{ 'full-note'|text }} [{{ title }}]</div>
                        <textarea class="form-control" name="full[{{ code }}]" required rows="10" aria-describedby="FullContentHelp"></textarea>
                        <div class="invalid-feedback">{{ 'field-is-required'|text }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="row pt-1 pb-1">
            <div class="col-6 d-grid">
                <button class="submit-insert btn btn-lg btn-success shadow-sm" type="submit"><i class="bi bi-check2"></i> {{ 'save'|text }}</button>
            </div>
            <div class="col-6 d-grid">
                <a class="btn btn-lg btn-block btn-secondary shadow-sm" href="{{ 'references'|link }}">
                    <i class="bi bi-arrow-left"></i> {{ 'reference-tables'|text }}
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    const category = document.querySelector('input[name="category"]');
    document.getElementById('category_list').addEventListener('click', function (e) {
        if (e.target && e.target.nodeName === 'LI') {
            category.value = e.target.getAttribute('value');
        }
    });
   
    FormSubmitHandler('.submit-insert', 'form#reference_insert');
});
</script>
