<div class="card shadow border-info mt-2 mb-4">
    <div class="card-header bg-light">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
            <h6 class="text-info text-uppercase pt-2"><i class="bi bi-eye"></i> {{ 'view-record'|text }} ({{ table }}:{{ record['id'] }})</h6>
            <div class="button-group">
                <button class="btn btn-secondary shadow-sm text-uppercase" onclick="window.history.go(-1);return false;">
                    <i class="bi bi-arrow-left-circle"></i> {{ 'back'|text }}
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row mt-3">
            <div class="col-lg-6">
                <label class="form-label">{{ 'keyword'|text }}</label>
                <input class="form-control" name="keyword" value="{{ record['keyword']|e }}" maxlength="128" placeholder="" readonly type="text" autocomplete="off">
            </div>
            <div class="col-lg-6">
                <label class="form-label">{{ 'type'|text }}</label>
                <input class="form-control" name="category" readonly type="text" value="{{ record['category']|e }}" maxlength="32">
            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-content mt-4">
            {% for code,title in localization.language %}
            <li class="nav-item">
                <a class="nav-link{% if loop.first %} active show{% endif %}" data-bs-toggle="tab" href="#tab-{{ code }}">{{ 'content'|text }} <img src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></a>
            </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-history">{{ 'history'|text }} <i class="bi bi-clock-history"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-version">{{ 'version'|text }} <i class="bi bi-sort-numeric-down"></i></a>
            </li>
        </ul>
        <div class="tab-content">
            {% for code,title in localization.language %}
            <div class="tab-pane{% if loop.first %} active show{% endif %}" id="tab-{{ code }}">
                <div class="form-group bg-light rounded-3">
                    <label class="form-label">{{ 'title'|text }} ({{ code }})</label>
                    <div id="TitleContentHelp" class="form-text">{{ 'title-note'|text }} [{{ title }}]</div>
                    <input class="form-control" name="title[{{ code }}]" readonly value="{{ record['content']['title'][code]|e }}" maxlength="255" placeholder="" type="text" autocomplete="off" aria-describedby="TitleContentHelp">
                </div>
                <div class="form-group bg-light mt-4 rounded-3">
                    <label class="form-label">{{ 'short'|text }} ({{ code }})</label>
                    <div id="ShortContentHelp" class="form-text">{{ 'short-note'|text }} [{{ title }}]</div>
                    <textarea class="form-control" name="short[{{ code }}]" readonly aria-describedby="ShortContentHelp">{{ record['content']['short'][code] }}</textarea>
                </div>
                <div class="form-group bg-light mt-4 rounded-3">
                    <label class="form-label">{{ 'full'|text }} ({{ code }})</label>
                    <div id="FullContentHelp" class="form-text">{{ 'full-note'|text }} [{{ title }}]</div>
                    <textarea class="form-control" name="full[{{ code }}]" readonly rows="10" aria-describedby="FullContentHelp">{{ record['content']['full'][code] }}</textarea>
                </div>
            </div>
            {% endfor %}
            <div class="tab-pane" id="tab-history">
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'date-created'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ record['created_at']|e }}" type="text">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'created-by'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ (accounts[record['created_by']] ?? record['created_by'])|e }}" type="text">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'date-modified'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ record['updated_at']|e }}" type="text">
                    </div>
                </div>
                <div class="row">
                    <label class="col-3 col-form-label text-end">{{ 'updated-by'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ (accounts[record['updated_by']] ?? record['updated_by'])|e }}" type="text">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-version">
                <div class="alert alert-warning shadow-sm fade mt-4 show" role="alert">
                    <i class="bi bi-exclamation-triangle" style="margin-right:5px"></i>
                    {% if localization.code == 'mn' %}
                    Уучлаарай, энэ үйлдэл одоохондоо ажиллагаанд ороогүй байна
                    {% else %}
                    Sorry, this feature isn’t available right now
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row pt-1 pb-1">
            <div class="col-12 d-grid">
                <a class="btn btn-lg btn-block btn-secondary shadow-sm" href="{{ 'references'|link }}">
                    <i class="bi bi-arrow-left"></i> {{ 'reference-tables'|text }}
                </a>
            </div>
        </div>
    </div>
</div>
