<div class="card shadow border-info mt-2 mb-4">
    <div class="card-header bg-light">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
            <h6 class="text-info text-uppercase pt-2"><i class="bi bi-eye"></i> {{ 'view-record'|text }} ({{ table }}:{{ record['id'] }})</h6>
            <div class="button-group">
                <button class="btn btn-secondary shadow-sm text-uppercase" onclick="window.history.go(-1);return false;">
                    <i class="bi bi-arrow-left-circle"></i> {{ 'back'|text }}
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row mt-3">
            <div class="col-lg-4">
                <label class="form-label">{{ 'keyword'|text }}</label>
                <input class="form-control" name="keyword" value="{{ record['keyword']|e }}" maxlength="128" placeholder="" readonly type="text" autocomplete="off">
            </div>
            <div class="col-lg-4">
                <label class="form-label">{{ 'type'|text }}</label>
                <select class="form-control" name="category" disabled>
                    {% for value,name in category %}
                    <option value="{{ value }}"{{ value == record['category'] ? ' selected' : '' }}>{{ name|e }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-4">
                <label class="form-label">{{ 'status'|text }}</label>
                <div class="form-control">
                {% for value,name in status %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input"{{ value == record['is_active'] ? ' checked' : '' }} disabled type="radio" name="is_active" id="status_{{ value }}" value="{{ value }}">
                      <label class="form-check-label" for="status_{{ value }}">{{ name }}</label>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs nav-tabs-content mt-4">
            {% for code,title in language %}
            <li class="nav-item">
                <a class="nav-link{% if loop.first %} active show{% endif %}" data-bs-toggle="tab" href="#tab-{{ code }}">{{ 'content'|text }} <img src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></a>
            </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-history">{{ 'history'|text }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-version">{{ 'version'|text }}</a>
            </li>
        </ul>
        <div class="tab-content">
            {% for code,title in language %}
            <div class="tab-pane{% if loop.first %} active show{% endif %}" id="tab-{{ code }}">
                <div class="form-group">
                    <label class="form-label">{{ 'title'|text }} ({{ code }})</label>
                    <input class="form-control" name="title[{{ code }}]" readonly value="{{ record['content']['title'][code]|e }}" maxlength="255" placeholder="" type="text" autocomplete="off">
                </div>
                <hr>
                <div class="form-group">
                    <label class="form-label">{{ 'short'|text }} ({{ code }})</label>
                    <textarea class="form-control" name="short[{{ code }}]" readonly>{{ record['content']['short'][code] }}</textarea>
                </div>
                <hr>
                <div class="form-group">
                    <label class="form-label">{{ 'full'|text }} ({{ code }})</label>
                    <textarea class="form-control" name="full[{{ code }}]" readonly rows="10">{{ record['content']['full'][code] }}</textarea>
                </div>
            </div>
            {% endfor %}
            <div class="tab-pane" id="tab-history">
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'date-created'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ record['created_at']|e }}" type="text">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'created-by'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ (accounts[record['created_by']] ?? record['created_by'])|e }}" type="text">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-3 col-form-label text-end">{{ 'date-modified'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ record['updated_at']|e }}" type="text">
                    </div>
                </div>
                <div class="row">
                    <label class="col-3 col-form-label text-end">{{ 'updated-by'|text }}</label>
                    <div class="col-9">
                        <input class="form-control" readonly value="{{ (accounts[record['updated_by']] ?? record['updated_by'])|e }}" type="text">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-version">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row pt-1 pb-1">
            <div class="col-12 d-grid">
                <button class="btn btn-lg btn-block btn-secondary shadow-sm" onclick="window.history.go(-1);return false;"><i class="bi bi-arrow-left"></i> {{ 'back'|text }}</button>
            </div>
        </div>
    </div>
</div>
