{% set user_can = user.can('system_content_settings') %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-2">
    <h3 class="text-primary text-uppercase" style="padding-right:10px"><i class="bi bi-gear-fill"></i> {{ 'settings'|text }}</h3>
    <div class="btn-group">
        <a class="btn btn-outline-dark shadow-sm" href="{{ 'home'|link }}">
            <i class="bi bi-x-square"></i> {{ 'cancel'|text|upper }}
        </a>
    </div>
</div>
<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item"><a class="nav-link active show" data-bs-toggle="tab" href="#tab-meta">{{ 'meta'|text }} <i class="bi bi-card-text"></i></a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-logo">{{ 'logo'|text }} <i class="bi bi-images"></i></a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-config">{{ 'config'|text }} <i class="bi bi-gear"></i></a></li>
</ul>
<div class="tab-content mb-4">
    <div class="tab-pane active show" id="tab-meta" role="tabpanel">
        <form class="needs-validation" novalidate action="{{ 'settings'|link }}" method="POST" enctype="multipart/form-data">
            <input name="alias" readonly value="{{ record['alias']|e }}" type="hidden">
            {% for code in localization.language|keys %}
            <div class="form-floating mt-{{ loop.first ? '4' : '2' }}">
                <input class="form-control" name="title[{{ code }}]" value="{{ record['content']['title'][code]|e }}" maxlength="70" autocomplete="off">
                <label>{{ 'title'|text }} <img style="position:relative;top:-2px" src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></label>
            </div>
            {% endfor %}
            <hr>
            {% for code in localization.language|keys %}
            <div class="form-floating mt-{{ loop.first ? '4' : '2' }}">
                <input class="form-control" name="description[{{ code }}]" value="{{ record['content']['description'][code]|e }}" maxlength="155" autocomplete="off">
                <label>{{ 'description'|text }} <img style="position:relative;top:-2px" src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></label>
            </div>
            {% endfor %}
            <hr>
            {% for code in localization.language|keys %}
            <div class="form-floating mt-{{ loop.first ? '4' : '2' }}">
                <input class="form-control" name="urgent[{{ code }}]" value="{{ record['content']['urgent'][code]|e }}" maxlength="155" autocomplete="off">
                <label>{{ 'urgent'|text }} <img style="position:relative;top:-2px" src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></label>
            </div>
            {% endfor %}
            <hr>
            <div class="form-floating mt-4">
                <input class="form-control" name="keywords" value="{{ record['keywords']|e }}" maxlength="256" autocomplete="off">
                <label>SEO search keywords</label>
            </div>
            <div class="form-floating mt-4">
                <input class="form-control" name="email" type="email" value="{{ record['email']|e }}" maxlength="70" autocomplete="off">
                <label>{{ 'email'|text }}</label>
            </div>
            <div class="form-floating mt-4">
                <input class="form-control" name="phone" value="{{ record['phone']|e }}" maxlength="710" autocomplete="off">
                <label>{{ 'phone'|text }}</label>
            </div>
            <hr>
            {% for code in localization.language|keys %}
            <div class="form-floating mt-{{ loop.first ? '4' : '2' }}">
                <input class="form-control" name="contact[{{ code }}]" value="{{ record['content']['contact'][code]|e }}" maxlength="512" autocomplete="off">
                <label>{{ 'contact'|text }} <img style="position:relative;top:-2px" src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></label>
            </div>
            {% endfor %}
            <hr>
            {% for code in localization.language|keys %}
            <div class="form-floating mt-{{ loop.first ? '4' : '2' }}">
                <input class="form-control" name="address[{{ code }}]" value="{{ record['content']['address'][code]|e }}" maxlength="512" autocomplete="off">
                <label>{{ 'address'|text }} <img style="position:relative;top:-2px" src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></label>
            </div>
            {% endfor %}
            <hr>
            {% for code in localization.language|keys %}
            <div class="form-floating mt-{{ loop.first ? '4' : '2' }}">
                <input class="form-control" name="copyright[{{ code }}]" value="{{ record['content']['copyright'][code]|e }}" maxlength="512" autocomplete="off">
                <label>Copyright <img style="position:relative;top:-2px" src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></label>
            </div>
            {% endfor %}
            {% if user_can %}
            <button class="submit-settings btn btn-lg btn-primary shadow-sm mt-4 mb-2"><i class="bi bi-save"></i> {{ 'save'|text }}</button>
            {% endif %}
        </form>
    </div>
    <div class="tab-pane" id="tab-logo" role="tabpanel">
        <form class="needs-validation" novalidate action="{{ 'settings-files'|link }}" method="POST" enctype="multipart/form-data">
            <input name="alias" readonly value="{{ record['alias']|e }}" type="hidden">
            <div class="row mb-3 mt-2">
                <div class="col">
                    {% for code in localization.language|keys %}
                    {% if not loop.first %}<hr>{% endif %}
                    <label class="form-label">{{ 'logo'|text }} <img src="https://cdn.jsdelivr.net/gh/codesaur-php/HTML-Assets@2.5.3/flags/{{ code }}.png"></label>
                    <input type="file" name="logo_{{ code }}">
                    {% endfor %}
                </div>
                <div class="col">
                    <label class="form-label">Favico</label>
                    <input type="file" name="favico">
                    <hr>
                    <label class="form-label">Shortcut image icon</label>
                    <input type="file" name="shortcut_icon">
                    <hr>
                    <label class="form-label">Apple touch image icon</label>
                    <input type="file" name="apple_touch_icon">
                </div>
            </div>
            {% if user_can %}
            <button class="submit-settings btn btn-lg btn-primary shadow-sm mt-2"><i class="bi bi-save"></i> {{ 'save'|text }}</button>
            {% endif %}
        </form>
    </div>
    <div class="tab-pane" id="tab-config" role="tabpanel">
        <form class="needs-validation" novalidate action="{{ 'settings'|link }}" method="POST" enctype="multipart/form-data">
            <input name="alias" readonly value="{{ record['alias']|e }}" type="hidden">
            <label class="form-label text-muted small"><i>must be valid JSON</i></label>
            <a class="badge bg-info mb-2" href="javascript:;" onclick="prettyPrint();">pretty print</a>
            <textarea class="form-control mb-3" name="config" id="config_editor" rows="25" style="height:500px">{{ record['config'] }}</textarea>
            {% if user_can %}
            <button class="submit-settings btn btn-lg btn-primary shadow-sm mt-2"><i class="bi bi-save"></i> {{ 'save'|text }}</button>
            {% endif %}
        </form>
    </div>  
</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    {% for code in localization.language|keys %}
    document.getElementsByName('logo_{{ code }}')[0].imageInput("{{ record['content']['logo'][code]|e }}", "{{ 'select-image'|text }}", "{{ 'choose'|text }}", "{{ 'change'|text }}", "{{ 'remove'|text }}", 480);
    {% endfor %}
    document.getElementsByName('favico')[0].imageInput("{{ record['favico']|e }}", "Select icon file", "{{ 'choose'|text }}", "{{ 'change'|text }}", "{{ 'remove'|text }}", 256, 256, '.ico');
    document.getElementsByName('shortcut_icon')[0].imageInput("{{ record['shortcut_icon']|e }}", "{{ 'select-image'|text }}", "{{ 'choose'|text }}", "{{ 'change'|text }}", "{{ 'remove'|text }}", 32);
    document.getElementsByName('apple_touch_icon')[0].imageInput("{{ record['apple_touch_icon']|e }}", "{{ 'select-image'|text }}", "{{ 'choose'|text }}", "{{ 'change'|text }}", "{{ 'remove'|text }}", 128);
    
    FormSubmitHandler('.submit-settings');
});

function prettyPrint() {
    try {
        var ugly = document.getElementById('config_editor').value;
        var obj = JSON.parse(ugly);
        var pretty = JSON.stringify(obj, undefined, 4);
        document.getElementById('config_editor').value = pretty;
    } catch (e) {
        NotifyTop('warning', '{{ 'error'|text|e }}', e.message);
    }
}
</script>
