<div class="bd-callout bd-callout-primary bg-light alert alert-dismissible fade show shadow-sm">
    <p><i class="bi bi-person-lines-fill" style="padding-right:8px;"></i> {{ 'accounts-note'|text }}
    <button class="btn-close" type="button" style="font-size:0.7rem" data-bs-dismiss="alert" aria-label="{{ 'close'|text|e }}"></button>
    </p>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-4">
    <h3 class="text-primary" style="padding-right:10px"><i class="bi bi-people-fill"></i> {{ 'accounts'|text }}</h3>
    <div class="btn-group">
        {% if user.can('system_account_index') %}
        <a class="btn btn-outline-dark shadow-sm" href="{{ 'accounts-requests-modal'|link({'table': 'forgot'}) }}" data-bs-target="#dashboard-modal" data-bs-toggle="modal">
            {{ 'password-reset-request'|text }}
        </a>
        <a class="btn btn-outline-primary shadow-sm" href="{{ 'accounts-requests-modal'|link({'table': 'newbie'}) }}" data-bs-target="#dashboard-modal" data-bs-toggle="modal">
            {{ 'request-new-account'|text }}
        </a>
        {% endif %}
        {% if user.can('system_account_insert') %}
        <a class="btn btn-outline-success shadow-sm" href="{{ 'account-insert'|link }}">
            <i class="bi bi-person-plus-fill"></i> {{ 'create-new-account'|text }}
        </a>
        {% endif %}
    </div>
</div>
<table class="table table-striped table-hover" id="account">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'photo'|text }}</th>
            <th scope="col">{{ 'name'|text }}</th>
            <th scope="col">{{ 'login'|text }}</th>
            <th scope="col">{{ 'organization'|text }}</th>
            <th scope="col">{{ 'role2'|text }}</th>
            <th scope="col">{{ 'status'|text }}</th>
            <th scope="col" style="width:130px">{{ 'action'|text }}</th>
        </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        <tr>
            <th scope="row">{{ account['id'] }}</th>
            <td>
                {% if account['photo'] is not empty %}
                    <img class="img-fluid img-thumbnail" src="{{ account['photo'] }}" style="max-width:120px;max-height:80px">
                {% else %}
                    <i class="bi bi-person-bounding-box text-secondary" style="font-size:2rem"></i>
                {% endif %}                
            </td>
            <td>
                {{ account['first_name'] ~ ' ' ~ account['last_name'] }}
                {% if account['phone'] is not null and account['phone'] is not empty %}<br/><a class="badge bg-info fw-normal text-decoration-none mt-1" href="tel:{{ account['phone']|e }}"><i class="bi bi-telephone-fill"></i> {{ account['phone'] }}</a>{% endif %}
            </td>
            <td>
                {{ account['username'] }}
                <br/><a class="badge bg-success fw-normal text-decoration-none mt-1" href="mailto:{{ account['email']|e }}"><i class="bi bi-envelope"></i> {{ account['email'] }}</a>
            </td>
            <td>
            {% if user.can('system_account_organization_set') %}    
                <a href="{{ 'organization-user-set'|link({'account_id': account['id']}) }}"
                   class="btn btn-dark btn-sm shadow-sm" data-bs-target="#dashboard-modal" data-bs-toggle="modal"><i class="bi bi-bank"></i>
                </a>
            {% endif %}
            {% for org in account['organizations'] %}
                <a class="badge bg-{{ organizations[org]['alias'] == 'system' ? 'primary' : 'warning' }} fw-normal text-decoration-none" href="{{ 'organization-view'|link({'id': organizations[org]['id']}) }}" data-bs-target="#dashboard-modal" data-bs-toggle="modal">
                    {{ organizations[org]['name'] }}
                </a>
            {% endfor %}
            </td>
            <td>
            {% if user.can('system_rbac') %}    
                <a class="btn btn-danger btn-sm shadow-sm" href="{{ 'rbac-set-user-role'|link({'id': account['id']}) }}" data-bs-target="#dashboard-modal" data-bs-toggle="modal"><i class="bi bi-shield-fill-check"></i>
                </a>
            {% endif %}
            {% for role in account['roles'] %}
                <a class="badge bg-{{ role == 'system_coder' ? 'primary' : 'warning' }} text-decoration-none shadow-sm" href="{{ 'rbac-role-view'|link }}?role={{ role }}" data-bs-target="#dashboard-modal" data-bs-toggle="modal">
                    {{ role }}
                </a>
            {% endfor %}
            </td>
            <td>
                <span class="badge bg-{{ account['status'] ? 'light' : 'secondary' }} text-{{ account['status'] ? 'success' : 'light' }}">{{ status[account['status']] ?? account['status'] }}</span>
            </td>
            <td>
                {% if account['id'] == user.getAccount()['id'] or user.can('system_account_index') %}
                <a class="btn btn-sm btn-info shadow-sm" href="{{ 'account-view'|link({'id': account['id']}) }}"><i class="bi bi-eye"></i></a>
                {% endif %}
                {% if account['id'] == user.getAccount()['id'] or (account['id'] != 1 and user.can('system_account_update')) %}
                <a class="btn btn-sm btn-primary shadow-sm" href="{{ 'account-update'|link({'id': account['id']}) }}"><i class="bi bi-pencil-square"></i></a>
                {% endif %}
                {% if account['id'] != user.getAccount()['id'] and account['id'] != 1 and user.can('system_account_delete') %}
                <a class="delete-account btn btn-sm btn-danger shadow-sm" href="{{ account['id'] }}"><i class="bi bi-trash"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
let deleteAskHtml = {% if localization.code == 'mn' %}'<p class="text-danger mb-3">Та ({0}) хэрэглэгчийг устгахдаа итгэлтэй байна уу?</p><p>Хэрвээ тийм бол шалтгаан тайлбар бичнэ үү</p>'{% else %}'<p class="text-danger mb-3">Are you sure to delete this account ({0})?</p><p>If so, please provide a reason</p>'{% endif %};

document.addEventListener('DOMContentLoaded', function () {
    let accountTable = document.querySelector('table#account');
    $(accountTable).DataTable({
        lengthMenu: [[5, 10, 30, -1], [5, 10, 30, "{{ 'all'|text|e }}"]],
        responsive: true, bStateSave: true, pagingType: 'full_numbers', pageLength: 10, order: [[0, 'asc']]
        {% if localization.code == 'mn' %}, language: {url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/mn.json'}{% endif %}
    });
    
    document.querySelectorAll('.delete-account').forEach(function(a) {
        a.addEventListener('click', function(e) {
            e.preventDefault();
            
            let name = a.parentNode.parentNode.children[3].innerHTML.replace(/<\/?[^>]+(>|$)/g, '');
            let question = deleteAskHtml.format(name);
            
            let src = '';
            let photo = a.parentNode.parentNode.children[1].querySelector('img');
            if (photo) {
                src = photo.src;
            } else {
                question = '<i class="bi bi-person-x-fill text-danger mb-2" style="font-size:3rem"></i>' + question;
            }
            
            Swal.fire({
                imageUrl: src,
                imageHeight: 60,
                html: question,
                input: 'text',
                showCancelButton: true,
                cancelButtonText: '{{ 'cancel'|text|e }}',
                confirmButtonText: '<i class="bi bi-trash"></i> {{ 'delete'|text|e }}',
                confirmButtonColor: '#df4759',
                showLoaderOnConfirm: true,
                allowOutsideClick: () => !Swal.isLoading(),
                backdrop: true,
                preConfirm: (reason) => {
                    return fetch(
                        '{{ 'account-delete'|link }}',
                        {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                name,
                                reason: reason,
                                id: a.getAttribute('href')
                            })
                        }
                    ).then(res => {
                        return res.json();
                    }).then(response => {
                        if (response.status !== 'success') {
                            throw new Error(response.message ? response.message : 'Invalid response!');
                        }
                        
                        Swal.close();
                        
                        NotifyTop('success', "{{ 'success'|text|e }}", response.message ? response.message : '');
                        
                        let row = a.parentNode.parentNode;
                        if (row && row.parentNode !== null) {
                            row.parentNode.removeChild(row);
                        }
                    })
                    .catch(error => {
                        Swal.showValidationMessage(error.message);
                    });
                }
            });
        });
    });
});
</script>
