<div class="modal-xl modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title fs-6 text-uppercase text-primary">
                <i class="bi bi-person-plus-fill"></i> {{ 'request-new-account'|text }}
            </h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="{{ 'close'|text|e }}"></button>
        </div>
        <div class="modal-body">
            <table class="table table-hover table-striped-columns table-bordered" id="new_account_requests">
                <thead>
                    <tr>
                        <th class="text-primary" scope="col">{{ 'username'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'email'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'language'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'date-created'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'status'|text }}</th>
                        <th class="text-primary" scope="col">{{ 'action'|text }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td scope="row"><strong>{{ row['username'] }}</strong></td>
                            <td>{{ row['email'] }}</td>
                            <td>
                                {% set flag =  row['code'] == 'en' ? 'us' :  row['code'] %}
                                <img src="https://flagcdn.com/20x15/{{ flag }}.png" srcset="https://flagcdn.com/40x30/{{ flag }}.png 2x" width="20" height="15">
                            </td>
                            <td>{{ row['created_at'] }}</td>
                            <td>
                                {% if row['status'] == 2 %}
                                    <span class="badge bg-info">approved</span>
                                {% elseif row['is_active'] == 0 %}
                                    <span class="badge bg-danger">deleted</span>
                                {% else %}
                                    <span class="badge bg-warning">waiting</span>
                                {% endif %}    
                            </td>
                            <td>
                                {% if row['is_active'] == 1 %}
                                    {% if user.can('system_account_insert') %}
                                        <button class="approve-account-request btn btn-sm btn-success shadow-sm" value="{{ row['id'] }}" type="button">
                                            <i class="bi bi-person-check"></i> {{ 'accept'|text }}
                                        </button>
                                    {% endif %}
                                    {% if user.can('system_account_delete') %}
                                        <button class="delete-account-request btn btn-sm btn-danger shadow-sm" value="{{ row['id'] }}" type="button">
                                            <i class="bi bi-trash"></i> {{ 'delete'|text }}
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary shadow-sm" data-bs-dismiss="modal" type="button">{{ 'close'|text }}</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    let acceptQuestion, questionDeletion;
    if (document.documentElement.lang === 'mn') {
        acceptQuestion = '<p class="text-primary">Та ({0}) хэрэглэгчийн бүртгүүлэх хүсэлтийг зөвшөөрөхдөө итгэлтэй байна уу?</p>';
        questionDeletion = '<p class="text-danger">Та ({0}) хэрэглэгчийн бүртгүүлэх хүсэлтийг устгахдаа итгэлтэй байна уу?</p>';
    } else {
        acceptQuestion = '<p class="text-primary">Are you sure to accept this account request ({0})?</p>';
        questionDeletion = '<p class="text-danger">Are you sure to delete this account request ({0})?</p>';
    }
    const newbies = new motable('table#new_account_requests');
    const requestWaits = newbies.table.querySelectorAll('.approve-account-request');
    requestWaits.forEach(btn => btn.addEventListener('click', function (e) {
        e.preventDefault();

        let thisRow = btn.closest('tr');
        if (!thisRow) {
            return NotifyTop('warning', "{{ 'error'|text|e }}", "Can't find parent row!");
        }
        let name = (thisRow.children[0].innerHTML + ' => ' + thisRow.children[1].innerHTML).replace(/<\/?[^>]+(>|$)/g, '');
        Swal.fire({
            html: '<i class="bi bi-person-plus text-info mb-2" style="font-size:3rem"></i>' + acceptQuestion.format(name),
            showCancelButton: true,
            cancelButtonText: '{{ 'no'|text|e }}',
            confirmButtonText: '<i class="bi bi-check"></i> {{ 'yes'|text|e }}',
            confirmButtonColor: '#0d6efd',
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: true,
            preConfirm: (willAccept) => {
                if (!willAccept) {
                    return;
                }
                
                return fetch(
                    "{{ 'account-request-approve'|link }}",
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({id: btn.value})
                    }
                ).then(res => {
                    return res.json();
                }).then(response => {
                    if (response.status !== 'success') {
                        throw new Error(response.message ?? 'Invalid response!');
                    }
                    
                    Swal.close();
                    
                    NotifyTop('success', "{{ 'success'|text|e }}", response.message ?? 'Account accepted');

                    thisRow.children[4].innerHTML = '<span class="badge bg-info">approved</span>';
                    thisRow.children[5].innerHTML = '';
                }).catch(error => {
                    Swal.showValidationMessage(error.message);
                });
            }
        });
    }));
    
    const requestDeletes = newbies.table.querySelectorAll('.delete-account-request');
    requestDeletes.forEach(btn => btn.addEventListener('click', function (e) {
        e.preventDefault();

        let thisRow = btn.closest('tr');
        if (!thisRow) {
            return NotifyTop('warning', "{{ 'error'|text|e }}", 'Cannot select row!');
        }
        let name = (thisRow.children[0].innerHTML + ' => ' + thisRow.children[1].innerHTML).replace(/<\/?[^>]+(>|$)/g, '');
        Swal.fire({
            html: '<i class="bi bi-person-x-fill text-danger mb-2" style="font-size:3rem"></i>' + questionDeletion.format(name),
            showCancelButton: true,
            cancelButtonText: '{{ 'no'|text|e }}',
            confirmButtonText: '<i class="bi bi-check"></i> {{ 'yes'|text|e }}',
            confirmButtonColor: '#f32750',
            showLoaderOnConfirm: true,
            allowOutsideClick: () => !Swal.isLoading(),
            backdrop: true,
            preConfirm: (willDelete) => {
                if (!willDelete) {
                    return;
                }
                
                return fetch(
                    "{{ 'account-request-delete'|link }}",
                    {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({id: btn.value, name})
                    }
                ).then(res => {
                    return res.json();
                }).then(response => {
                    if (response.status !== 'success') {
                        throw new Error(response.message ?? 'Invalid response!');
                    }
                    
                    Swal.close();

                    NotifyTop('success', "{{ 'success'|text|e }}", response.message ?? `Account (${name}) request deleted`);

                    thisRow.remove();
                }).catch(error => {
                    Swal.showValidationMessage(error.message);
                });
            }
        });
    }));
</script>
